.div-father {
    /* Background */
    background-image: url(file/img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -20px;
    /* Size */
    width: 1440px;
    height: 420px;
    /* Display */
    display: flex;
    flex-direction: row;
}

.div-text-box-one {
    /* Margin */
    margin-left: 35px;
    margin-right: 800px;
    /* Display */
    display: flex;
    flex-direction: column-reverse;
    /* User */
    user-select: none;
}

.div-text-box-one h1{
    /* Text */
    font-family: 'darker grotesque';
    font-size:42px;
    color: #fff;
    font-weight: 800;
    /* Spacing */
    line-height: 125%;
    letter-spacing: 1%;
}

.div-text-box-two {
    /* Div-Config */
    font-family: 'mulish';
    color: #fff;
    display: flex;
    flex-direction: column;
}

.div-text-box-two p {
    /* Text */
    font-size: 22px;
    font-weight: 500;
    /* Margin */
    margin-top: 75px;
    margin-right: 35px;
    /* User */
    user-select: none;
}   

.div-text-sub-box-two {
    /* Div-Config */
    display: flex;
    flex-direction: row;
}

.seta {
    /* User */
    user-select: none;
}

.line {
    /* Size */
    width: 190px;
    height: 190px;
    /* Transform */
    transform: rotate(-3deg) translate(-55%, -25%) scale(1,0.5);
}
.arrow{
    /* Size */
    width: 20px;
    height: 35px;
    /* Transform */
    transform: translate(-405%, -202%);
}


.box-logo-button{
    /* Div-Config */
    display: flex;
    flex-direction: column;
}



.logo {
    /* Div-Config */
    display: flex;
    flex-direction: row;
}

.logo p{
    /* Size */
    font-size: 16px;
}

.logo img {
    /* Size */
    width: 25px;
    height: 25px;
    /* Position */
    position: relative;
    top: 70px;
    right: 4px;
}

#button {
    /*Text*/
    font-family: "Mulish";
    font-size: 15px;
    /* Position */
    position: relative;
    top: -75px;
    /* Border */
    border: 1px solid #fff;
    /* Padding */
    padding: 10px 10px;
}