.father-div {
    background-color: #EFFAFF;
    display: flex;
    width: 1440px;
    height: 430px;
    flex-direction: row;
}

.dialog-box {
    font-family: 'Major Mono Display';
    display: flex;
    flex-direction: column;
    margin-top: 45px;
    margin-left: 35px;
    font-weight: 400;
}

.dialog-box h1 {
    color: #FF8A00;
    font-weight: 400;
    font-size: 32px;
    line-height: 100%;
}

.dialog-box p {
    font-family: 'Mulish';
    color: #4B4B4B;
    font-size: 18px;
    line-height: 100%;
}

/*Button*/
.dialog-box-button {
    /*Background*/
    background-color: #FF8A00;
    font-size: 18px;
    font-weight: bold;
    max-width: 135px;
    /*Text*/
    color: #fff;
    /*Padding*/
    padding: 10px 25px;
    /*Border*/
    border-radius: 7px;
    /*Shadow-Box*/
    box-shadow: 2px 2px rgb(0, 0, 0, 0.25);
    /*config*/
    user-select: none;

    cursor: pointer;
}

.dialog-box-button:hover {
    background-color: #df7b0a;
    color: #eceaea;
}

.dialog-box-button:active {
    background-color: #ca720d;
    color: #d4d2d2;
}

.img-box {
    display: flex;
    flex-direction: row;
}