body {
    background-color: black;
}
.div-father {
    width: 1440px;
    height: 430px;
    background-color: #EFFAFF;
    display: flex;
    flex-direction: row;
}

.text-box {
    margin-top:35px;
    margin-right: 10px;
    margin-left: 35px;
    font-weight: 400;
}

.text-box h1 {
    font-family: "Major Mono Display";
    color: #ff8a00;
    font-size: 32px;
}

.text-box p {
    font-family: "Mulish";
    color: #4B4B4B;
    font-size: 20px;
}

.box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: -60px;
    margin-bottom: 100px;
    margin-right:   200px;
}

.box-img {
    width: 200px;
    height: 200px;
    left: 100px;
    display: flex; 
    flex-direction: row;
    margin-right: -65px;
}

.box-img  img{
    margin-right: -75px;
}

.img-woman {
    max-width: 300px;
    max-height: 350px;
    margin-left: 120px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#button {
    font-family: "Mulish";
    color:#fff;
    background-color: #ff8a00;
    font-size: 20px;
    font-weight: 400;
    width: 128px;
    height: 50px;
    margin-top: 70px;
    padding-right:  25px;
    padding-left:  25px;
    border-radius: 7px;
    display: flex;
    align-items: center;    
    user-select: none;
}
